<div class="gb-page-body">

    <div class="container">
        <div class="row">
            <div class="alert alert-info">
                <h4>Tips for using search panel</h4>
                Search by a course number(e.g. Math135) , or a book name. For book sellers, directly click <button ng-click="go('/add')" class="btn btn-primary btn-sm">
                    NEW POST
                </button>
            </div>
        </div>
    </div>

    <div class="row-centered">

    </div>

    <div class="container row-centered">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="media book">
                <div class="book-inner">
                    <div class="col-md-3 book-infos">
                        <a href="/details/">
                            <img width="111.5" height="131.25" src="http://i.ebayimg.com/00/s/NDAwWDI2NA==/z/hi0AAOSw-ndTndXU/$_7.JPG?set_id=89040003C1" />
                        </a>
                    </div>
                    <div class="col-md-9 vcenter">
                        <h4>
                            <a href="/details/">Calculus: Early Transcendentals 7E</a>
                        </h4>
                        <p class="author"> <a href="/details/">1594633940 </a> <small>Marlon James <br></small></p>
                        <p class="description"> <kbd class="bg-info text-danger">CS245</kbd></p>
                        <p class="description"> <a href="/details/" title="I am hovering over the text"> <kbd class="bg-primary"> $5.6 </kbd></a> &nbsp; <kbd class="bg-primary"> $4.8 </kbd> &nbsp; <kbd class="bg-primary"> $25.2 </kbd>  &nbsp; <input type='button' value='+' class='qtyplus' field='quantity' /></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="media book">
                <div class="book-inner">
                    <div class="col-md-3 book-infos">
                        <a href="/details/">
                            <img width="111.5" height="131.25" src="http://i.ebayimg.com/00/s/NDAwWDI2NA==/z/hi0AAOSw-ndTndXU/$_7.JPG?set_id=89040003C1" />
                        </a>
                    </div>
                    <div class="col-md-9 vcenter">
                        <h4>
                            <a href="/details/">REC100: Introduction to the Study of Recreation and Leisure</a>
                        </h4>
                        <p class="author"> </p>
                        <p class="description"><kbd class="bg-primary"> $5.60 </kbd></p>
                        <p class="meta">
                            <button type="button" class="btn btn-default btn-xs"> add to sell</button>
                            <button type="button" class="btn btn-default btn-xs"> add to buy</button>
                        </p>

                    </div>

                </div>
                <!---->
            </div>
        </div>


        <div class="clearfix visible-lg visible-md"></div>
        <div class="clearfix hidden-lg hidden-md"></div>
        <br>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="media book">
                <div class="book-inner">
                    <div class="col-md-3 book-infos">
                        <a href="/details/">
                            <img width="111.5" height="131.25" src="http://i.ebayimg.com/00/s/NDAwWDMwNA==/z/cUIAAOSwAL9Ubvpf/$_7.JPG?set_id=89040003C1" />
                        </a>
                    </div>
                    <div class="col-md-9 vcenter">
                        <h4>
                            <a href="/details/">Econ102: Introduction to Macroeconomics</a>
                        </h4>
                        <p class="author">
                        </p>
                        <p class="description"><kbd class="bg-primary"> $4.80 </kbd></p>
                        <p class="meta">
                            <kbd class="bg-primary">Interested to buy</kbd>
                            <button type="button" class="btn btn-xs  text-muted"> withdraw </button>
                        </p>
                    </div>
                </div>
                <!---->
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="media book">
                <div class="book-inner">
                    <div class="col-md-3 book-infos">
                        <a href="/details/">
                            <img width="111.5" height="131.25" src="http://i.ebayimg.com/00/s/NDAwWDI4MA==/z/9wQAAOSwv0tVeOSU/$_7.JPG?set_id=89040003C1" />
                        </a>
                    </div>
                    <div class="col-md-9 vcenter">
                        <h4>
                            <a href="/details/">Biol130: Introductory Cell Biology</a>
                        </h4>
                        <p class="author">
                        </p>
                        <p class="description"> <kbd class="bg-primary"> $9.50 </kbd></p>
                        <p class="meta">
                            <button type="button" class="btn btn-default btn-xs"> add to sell</button>
                            <button type="button" class="btn btn-default btn-xs"> add to buy</button>
                        </p>
                    </div>
                </div>
                <!---->
            </div>
        </div>

        <div class="clearfix visible-lg visible-md"></div>
        <div class="clearfix hidden-lg hidden-md"></div>
        <br>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="media book">
                <div class="book-inner">
                    <div class="col-md-3 book-infos">
                        <a href="/details/">
                            <img width="111.5" height="131.25" src="http://i.ebayimg.com/00/s/NDUwWDM2Mw==/z/4tAAAOSwHnFV3UOo/$_7.JPG?set_id=89040003C1" />
                        </a>
                    </div>
                    <div class="col-md-9 vcenter">
                        <h4>
                            <a href="/details/">ENVE100: Environmental and Geological Engineering Concepts</a>
                        </h4>
                        <p class="author">    </p>
                        <p class="description"><kbd class="bg-primary"> $4.80 </kbd></p>
                        <p class="meta">
                            <button type="button" class="btn btn-default btn-xs"> add to sell</button>
                            <button type="button" class="btn btn-default btn-xs"> add to buy</button>
                        </p>
                    </div>
                </div>
                <!---->
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="media book">
                <div class="book-inner">
                    <div class="col-md-3 book-infos">
                        <a href="/details/">
                            <img width="111.5" height="131.25" src="http://i.ebayimg.com/00/s/NDAwWDI2NA==/z/hi0AAOSw-ndTndXU/$_7.JPG?set_id=89040003C1" />
                        </a>
                    </div>
                    <div class="col-md-9 vcenter">
                        <h4>
                            <a href="/details/">REC100: Introduction to the Study of Recreation and Leisure</a>
                        </h4>
                        <p class="author"> </p>
                        <p class="description"><kbd class="bg-primary"> $5.60 </kbd></p>
                        <p class="meta">
                            <button type="button" class="btn btn-default btn-xs"> add to sell</button>
                            <button type="button" class="btn btn-default btn-xs"> add to buy</button>
                        </p>

                    </div>

                </div>
                <!---->
            </div>
        </div>







        <div class="clearfix visible-lg visible-md"></div>
        <div class="clearfix hidden-lg hidden-md"></div>
        <br>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="media book">

                <div class="book-inner">
                    <div class="col-md-3 book-infos">
                        <a href="/details/">
                            <img width="111.5" height="131.25" src="http://i.ebayimg.com/00/s/NDUwWDM2Mw==/z/4tAAAOSwHnFV3UOo/$_7.JPG?set_id=89040003C1" />
                        </a>
                    </div>
                    <div class="col-md-9 vcenter">
                        <h4>
                            <a href="/details/">ENVE100: Environmental and Geological Engineering Concepts</a>
                        </h4>
                        <p class="author">    </p>
                        <p class="description"><kbd class="bg-primary"> $4.80 </kbd></p>
                        <p class="meta">
                            <button type="button" class="btn btn-default btn-xs"> add to sell</button>
                            <button type="button" class="btn btn-default btn-xs"> add to buy</button>
                        </p>
                    </div>
                </div>
                <!---->
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="media book">
                <div class="book-inner">
                    <div class="col-md-3 book-infos">
                        <a href="/details/">
                            <img width="111.5" height="131.25" src="http://i.ebayimg.com/00/s/NDAwWDI2NA==/z/hi0AAOSw-ndTndXU/$_7.JPG?set_id=89040003C1" />
                        </a>
                    </div>
                    <div class="col-md-9 vcenter">
                        <h4>
                            <a href="/details/">REC100: Introduction to the Study of Recreation and Leisure</a>
                        </h4>
                        <p class="author"> </p>
                        <p class="description"><kbd class="bg-primary"> $5.60 </kbd></p>
                        <p class="meta">
                            <button type="button" class="btn btn-default btn-xs"> add to sell</button>
                            <button type="button" class="btn btn-default btn-xs"> add to buy</button>
                        </p>

                    </div>

                </div>
                <!---->
            </div>
        </div>

    </div>
</div>
<ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
</ul>


  
</div>
</div>


